[access]
	inheritFrom = All-Projects
[submit]
[project]
	description = Manila CI Repository
[access "refs/*"]
	owner = group user/Valerii Ponomarov (vponomaryov)
[access "refs/for/refs/*"]
	label-Code-Review = -2..+2 group user/Valerii Ponomarov (vponomaryov)
	label-Verified = -1..+1 group user/Valerii Ponomarov (vponomaryov)
	push = group user/Valerii Ponomarov (vponomaryov)
	read = group user/Valerii Ponomarov (vponomaryov)
	rebase = group user/Valerii Ponomarov (vponomaryov)
	removeReviewer = group user/Valerii Ponomarov (vponomaryov)
	submit = group user/Valerii Ponomarov (vponomaryov)
[access "refs/heads/*"]
	create = group user/Valerii Ponomarov (vponomaryov)
	push = +force group user/Valerii Ponomarov (vponomaryov)
	pushMerge = group user/Valerii Ponomarov (vponomaryov)
	read = group user/Valerii Ponomarov (vponomaryov)
[access "refs/tags/*"]
	push = group user/Valerii Ponomarov (vponomaryov)
	push = +force group user/Valerii Ponomarov (vponomaryov)
